* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

/* shared styles  */
.btn {
  background-color: #e55473;
  border: none;
  color: white;
  padding: 20px 43px;
  margin-top: 32px;
  border-radius: 8px;
  font-size: 1.2rem;
}

/* header section starts here  */
.header {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-content {
  width: 708px;
}
.header-content > h1 {
  font-size: 4.3rem;
  color: #272727;
  font-weight: 900;
}
.header-content > p {
  margin-top: 32px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.1rem;
}

/* feature section starts now  */

.feature-content {
  margin-top: 130px;
  text-align: center;
}

.feature-content > h3 {
  font-size: 2.5rem;
}
.feature-content > p {
  margin-top: 24px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 1.1rem;
}
.flower-galary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  max-width: 1440px;
  margin: 48px auto;
  gap: 24px;
}
.pink-flower {
  background-color: rgba(167, 33, 98, 0.15);
}
.pink-flower > img {
}
.red-flower {
  background-color: rgba(5, 151, 160, 0.15);
}
.yellow-flower {
  background-color: rgba(71, 125, 17, 0.15);
}
